# Maven
target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse / STS
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache

# NetBeans
nbproject/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment
.env

src/main/resources/application.yaml